button.btn {
  color: #fff;
  background-color: #1db954;
  border-radius: 20px;
  width: 50%;
  height: 42px;
  position: fixed;
  top: 50%;
  max-width: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}
